<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      data-th-fragment="header">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReadBooker</title>
  <meta name="keywords" content="bootstrap,java,小说,ES...">
  <meta name="description" content="一个小说网站，学习使用，非商业用途">
  <link   type="text/css" href="../style.css" rel="stylesheet" >
  <script type="text/javascript" src="../push.js"></script>
  <script type="text/javascript" src="../common.js"></script>
  <script type="text/javascript" src="../book.js"></script>
  <script type="text/javascript" src="../share.js"></script>
</head>
<body>
  <script>login();</script>
  <div class="header">
    <div class="wrap">
      <div class="logo">
        <a href="https://www.readbooker.com/" title="阅读的书">笔趣阁<em>www.readbooker.com</em></a>
      </div>
      <script>search();</script>
    </div>
  </div>
</body>
</html>