<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head th:include="include/header::html('ReadBooker')"></head>
<body>

<div class="wrap">
  <div class="hot">
    <!-- 选择标签类型小说推荐：推荐量前四 -->
    <div class="l bd">
      <div class="item" th:each="book: ${hotClicks}">
        <div class="p10">
          <div class="image">
            <a th:href="@{'/book/' + ${book.getId()}}">
            <img th:src="@{/images/{filename}(filename=${book.getId()+'.jpg'})}" th:alt="${book.getName()}" />
            </a>
          </div>
          <dl>
            <dt>
              <span th:text="${book.getAuthor()}"></span>
              <a th:href="@{'/book/' + ${book.getId()}}" th:text="${book.getName()}"></a>
            </dt>
            <dd th:text="${book.getIntroduction()}"></dd>
          </dl>
        </div>
      </div>
    </div>
    <!-- 选择标签类型小说推荐：点击量前10 -->
    <div class="r bd">
      <h2>强力推荐</h2>
      <ul class="lis">
        <li th:each="book: ${hotRecommends}">
          <span class="s1"  th:text="${book.getCategory().getName()}">[修真]</span>
          <span class="s2">
            <a th:href="@{'/book/' + ${book.getId()}}" th:text="${book.getName()}">不朽凡人</a>
          </span>
          <span class="s5" th:text="${book.getAuthor()}">鹅是老五</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="up">
    <div class="l bd">
      <h2>最近更新小说列表</h2>
      <ul>
        <li th:each="book:${updateBooks}">
          <span class="s1" th:text="${book.getCategory().getName()}">[穿越小说]</span>
          <span class="s2">
            <a th:href="@{'/book/' + ${book.getId()}}" th:text="${book.getName()}">夫君你完了</a>
          </span>
          <span class="s3">
            <a th:href="@{'/book?bid=' + ${book.getId()} + '&cid='+ ${book.getLaterChapter().getId()}}"
               th:text="${book.getLaterChapter().getName()}">
              第179章 家人的温暖
            </a>
          </span>
          <span class="s4" th:text="${book.getAuthor()}">夏末之殇</span>
          <span class="s5" th:text="${book.format(book.getUpdateTime())}">08-19</span>
        </li>
      </ul>
    </div>
    <div class="r bd">
      <h2>最新入库小说</h2>
      <ul>
        <li th:each="book:${importBooks}">
          <span class="s1" th:text="${book.getCategory().getName()}">[穿越小说]</span>
          <span  class="s2" >
            <a th:href="@{'/book/' + ${book.getId()}}" th:text="${book.getName()}">夫君你完了</a>
          </span>
          <span class="s4" th:text="${book.getAuthor()}">夏末之殇</span>
          <span class="s52" th:text="${book.format(book.getCreateTime())}">08-19</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer">
  <div class="link">友情连接：
    <a href="http://www.bxwx.io/" target="_blank">笔下文学</a>、
    <a href="http://www.50zw.la/" target="_blank">武林中文网</a>、
    <a href="http://www.630book.la/" target="_blank">免费全本小说</a>、
  </div>
  <script>
    footer();
    // tj();
  </script>
</div>

</body>
  <script>
    function showChapter(id) {
    }
  </script>


</html>


